<%- layout('layouts/boilerplate') %>


<div class="container d-flex flex-column">
    <h1 class="text-center mb-5">New Campground</h1>
    <div class="align-self-center form-campground-container">
        <form class="validated-form" action="/campgrounds" method="POST" novalidate enctype="multipart/form-data">
            <div class="mb-3 ">
                <label class="form-label" for="title" >Camp Title</label>
                <input class="form-control" type="text" id="title" name="title" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Camp Location</label>
                <input class="form-control" type="text" id="location" name="location" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image</label>
                <input class="form-control" type="file"  id="image" name="image" multiple>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" class="form-control" id="price" name="price" placeholder=0.00 required>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="description" required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3  mt-4">
                <button class="btn btn-success form-button">Add Campground</button>
            </div>
        </form>
        <a class="btn btn-danger form-button mb-5" href="/campgrounds">Cancel</a>
        
    
    </div>
</div>

